[mysqld]
# Basic settings
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
datadir=/var/lib/mysql
skip-external-locking

# Bind address
bind-address=0.0.0.0

# Fine-tuning
key_buffer_size=16M
max_allowed_packet=16M
thread_cache_size=8

# Logging
log_error=/var/log/mysql/error.log
