[mysqld]
user            = mysql
datadir         = /var/lib/mysql
port            = 3306
bind-address    = 0.0.0.0
log-error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
